@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&family=Young+Serif&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

:root {
  --brandyRed: 14 45% 36%;
  --darkCharcoal: 24 5% 18%;
  --darkRaspberry: 332 51% 32%;
  --eggshell: 30 54% 90%;
  --youngSerif: 'Young Serif', serif;
  --outfit: 'Outfit', sans-serif;
  --snow: 330 100% 98%;
  --wengeBrown: 30 10% 34%;
  --whiteCoffee: 30 18% 87%;
}

body {
  overflow-x: hidden;
  background-color: hsl(var(--eggshell));
  font-family: var(--outfit);
}

@layer components {
  .categoryTitle {
    @apply text-[1.75rem] font-youngSerif text-brandyRed;
  }


}

